.red-envelop-topic-container {
    background: #fb3838; 
}

.red-envelop-topic-container .top-bg {
    background-color: #ffba00;
    line-height: 0;
    font-size: 0;
    margin-bottom: 10px;
}

.red-envelop-topic-container .top-bg img {
    display: block;
}

.red-envelop-topic-container .img {
    max-width: 100%;
}

.red-envelop-topic-container .start-btn {
    display: block;
    margin: 0 auto;
    width: 208px;
    height: 69px;
    text-align: center;
    font-weight: bold;
    color: #fb3838;
    font-size: 38px;
    background: url(assets/start-btn.png)
}

.red-envelop-topic-container .app-download {
    text-align: center;
}

.app-download img {
    text-align: center;
}