.user-draw-record {
    display: block;
}

.user-draw-record ul {
    color: #ffffff;
    list-style: none;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}

.user-draw-record ul li {
    // padding: 5px 0;
    // border: 1px solid #c91f0d;
    background:rgba(255, 255, 255, 0.3);
    border-radius: 5px 5px;
    color: white;
    flex-basis: 48%;
    margin: 5px 1% 0 1%;
    padding: 5px 10px;
}

.user-draw-record ul li:last-child {
    border-bottom: 0;
}

.user-draw-record .oper {
    margin-top: 5px;
}

.user-draw-record .oper .icon-txt {
    vertical-align: bottom;
}
