.share-bg {
    display: block;
    background: url('./assets/share-bg.png') center no-repeat;
}

.share-web {
    font-size: 12px;
    text-align: center;
    padding: 20px 10px;
}

.share-web a {
    color: #000;
}

.cat-input {
    border: 1px solid #ccc;
    padding: 5px 5px;
}