@import 'base';

.weui-btn_xf {
    background-color: #ff8200;
}

.weui-btn_xf:not(.weui-btn_disabled):active {
    background-color: #f36700;
}

.weui-btn_xf_mini {
    font-size: 15px;
} 

#nprogress .bar {
    background: #ff8200;
}

#nprogress .peg {
    box-shadow: 0 0 10px #ff8200, 0 0 5px #ff8200;
}

.container {
    position: relative;
}

.region {
    background: #fff;
    padding: 10px 15px;
}