.login-link {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #999;
    text-decoration:underline;
}

.qc-img {
    display: block;
    margin: 20px auto;
    margin-bottom: 0;
}

.qc-download {
    display: block;
    font-weight: bold;
    text-align: center;
}

.qc-code {
    color: #999;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}