.region-title {
    background: url('./assets/title-bg.png') center no-repeat;
    height: 40px;   
}

.region-title p {
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}