.index-view {}

.index-view .banner {
    width: 100%;
}

.index-view .navs-wapper {
    padding: 10px 10px;
}

.index-view .navs {
    padding: 15px 15px;
    border-radius: 5px;
    background-color: #fff;
    min-height: 200px;
}

.nav .nav-label {
    font-size: 14px;
}

.nav .nav-label {
    margin-bottom: 10px;
}