.voter-view {
    margin-top: 10px;
    padding: 10px 15px;
}

.voter-view .voter-warp {
    background: #f3ecdb;
    padding: 10px 15px;
    border-radius: 7px;
    position: relative;
}

.voter-view .voter-warp .ranking {
    position: absolute;
    top: 0;
    right: 15px;
    color: #fff;
    font-weight: bold;
    background: #ff8200;
    padding: 3px 15px;
}

.voter-view .voter-warp .voter-info p {
    padding: 3px 0;
}

.voter-info .headerimage img {
    margin-top: 10px;
    max-width: 100%;
}

.voter-view .button-area {
    margin-left: 0;
    margin-right: 0;
}