.red-envelop-take-container {
    background: url(assets/take-bg.png) no-repeat;
    background-size: cover;
    background-color: #fb3838;
    height: 100%;
    width: 100%;
}

.red-envelop-take-container .merchants-warp {
    margin: 0 auto;
    text-align: center;
    @media screen and (min-width:200px) {
        padding-top: 90px;
    }
    @media screen and (min-width:360px) {
        padding-top: 100px;
    }
    @media screen and (min-width:375px) {
        padding-top: 110px;
    }
    @media screen and (min-width:414px) {
        padding-top: 140px;
    }
    color: #ffd592;
}

.merchants-warp .name {
    font-weight: bold;
    font-size: 30px;
}

.merchants-warp .number {
    font-size: 18px;
}

.red-envelop-take-container .take-warp {
    margin: 0 auto;
    text-align: center;
    padding-top: 60px;
}

.take-warp .take-btn {
    background: url(assets/take-btn.png) no-repeat 100%;
    display: inline-block;
    width: 141px;
    height: 131px;
}

.take-warp .my-has-take-number {
    padding-top: 20px;
    color: #ffd592;
    font-size: 22px;
}

.take-warp .take-records-btn {
    color: white;
}

.red-envelop-take-container .share-btn {
    background: url(assets/share-btn.png) no-repeat 100%;
    display: block;
    margin: 0 auto;
    width: 134px;
    height: 45px;
    color: #fb3838;
    text-align: center;
    font-size: 21px;
    line-height: 42px;
}

.red-envelop-take-container .share-text {
    display: block;
    margin-bottom: 10px;
    text-align: center;
    color:#ffd592;
}