.logo-focus {
    display: block;
    margin: 0 auto;
    width: 327px;
    height: 327px;
}

.register-link {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: #999;
    text-decoration:underline;
}